@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #19191d;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #111113;
}
::-webkit-scrollbar-thumb:active {
  background: #212125;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px double #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #cecece;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.entry-section{
  min-height: 100vh;
}
.home{
  >#header{
    display: none;
  }
}
body{
  background: linear-gradient(90deg, #ebebeb, #fff);
  >#header{
    display: inline-grid;
    a{
      margin: 0 auto;
    }
  }
}
.swiper-button-prev{
  left: 32px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  @include media('<=lg'){
    left: 15px;
  }
}
.swiper-button-next{
  right: 32px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  @include media('<=lg'){
    right: 15px;
  }
}
.swiper-button-next, .swiper-button-prev{
  padding: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 10px 30px;
  background-color: #222;
  @include media('<=lg'){
    background-size: 7px 30px;
    padding: 15px;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #222;
}
.swiper-pagination-progressbar{
  background: transparent;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include media('<=lg') {
    padding: 20px;
    width: calc(100% - 40px);
  }
}
.container-fluid{
  padding: 0;
}
@keyframes loading-spinner{
  0% { transform: translate(-50% ,-50%) rotate(0deg) }
  100% { transform: translate(-50% ,-50%) rotate(360deg) }
}
.overlay{
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  padding: 20px;
  height: 100vh;
  will-change: opacity;
  transition: .2s ease-out;
  pointer-events: none;
  z-index: 9999;
  background: rgba(255,255,255,.75);
  opacity: 0;
  .article-gallery{
    opacity: 1;
    pointer-events: all;
  }
  &:after{
    transition: .2s ease-out;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    width: 32px;
    height: 32px;
    border: 1px solid #222;
    content: '';
    border-top: 1px solid transparent;
    border-radius: 50%;
    animation: loading-spinner 1s ease-in-out infinite;
  }
  .close{
    position: fixed;
    width: 32px;
    top: 32px;
    opacity: 1 !important;
    right: 32px;
    cursor: pointer;
    z-index: 99999;
    height: 32px;
    &:before, &:after{
      content: '';
      transform-origin: 0 0;
      display: block;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 3px;
      background: #222;
      transition: .2s ease-out;
      transform: rotate(-45deg) translate(-50%, -50%);
    }
    &:after{
      transform: rotate(45deg) translate(-50%, -50%);
    }
    &:hover{
      &:before{
        width: 75%;
        transform: rotate(0) translate(-50%, -50%);
      }
      &:after{
        width: 75%;
        transform: rotate(0) translate(-50%, -50%);
      }
    }
  }
  &.loaded{
    &:after{
      opacity: 0;
    }
  }
  .img-container{
    position: relative;
    display: flex;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2px 2px 0 0;
    .caption-container{
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      font-size: 1.5em;
      width: 100%;
      transition: .2s ease-out;
      border-radius: 0 0 2px 2px;
      color: #222;
      text-align: center;
      position: absolute;
      opacity: 0;
      z-index: 1;
      &:before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        top: 0;
        border-top: 2px solid white;
      }
    }
    img{
      width: auto;
      max-width: calc(100vw - 100px);
      height: auto!important;
      max-height: calc(100vh - 100px);
      position: relative;
      border-radius: 2px;
      opacity: 0;
      box-shadow: 0 -10px 45px -10px rgba(0,0,0,.35);
      transition: .25s ease-out;
      will-change: transform;
      &.loaded{
        opacity: 1;
      }
      @include media('<=lg'){
        max-width: calc(100vw - 50px);
        max-height: calc(100vh - 50px);
      }
    }
  }
  @include media('<=lg'){
    .close{
      right: 15px;
    }
  }
  &.active{
    opacity: 1;
    pointer-events: all;
  }
}
#content{
  flex: 1 0 auto;
  z-index: 4;
}
#welcoming{
  width: 100vw;
  background: linear-gradient(90deg, #ebebeb, #fff);
  .container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    transition: .2s ease-out;
  }
  p{
    font-size: 3.5em;
    color: $olcza-black;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 40px;

    .krejzola{
      background: #ff3588;
      color: white;
      text-shadow: 0 0 0.1px rgba(255,255,255,.25);
      padding: 10px;
      border-radius: 2px;
    }
  }
  .lapka{
    position: relative;
    margin-bottom: 5px;
    bottom: 0;
    cursor: pointer;
    max-width: 200px;
    animation: jump 1s ease-in-out alternate infinite;
  }
  @keyframes jump {
    0%   {transform: translate3d(0,0,0)}
    100% {transform: translate3d(0,-20px,0)}
  }
  @include media('<=lg'){
    .right{
      flex-basis: 100% !important;
      max-width: 100% !important;
      flex-wrap: wrap;
    }
    .lapka{
      max-width: 200px;
    }
    p{
      font-size: 2.5em;
    }

  }
  @include media('<=md'){
    .container {
      flex-wrap: wrap;
    }
    p{
      font-size: 2.5em;
    }
  }
  @include media('<sm'){
    .krejzola{
      padding: 5px!important;
    }
    .lapka{
      max-width: 100px;
    }
    p{
      font-size: 2em;
    }
  }
}
html, body{
  height: 100%;
}
body{
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  flex-direction: column;
  @include media('<md'){
    font-size: 80%;
  }
}
img{
  max-width: 100%;
  height: auto;
}
.go-top{
  position: fixed;
  right: -100px;
  transition: right .25s ease-out, transform .25s ease-out;
  transform: rotate(-180deg);
  will-change: right, transform;
  padding: 10px;
  z-index: 999;
  cursor: pointer;
  bottom: 20px;
  &.active{
    transform: rotate(0deg);
    right: 20px;
  }
  img{
    width: 32px;
    transform: rotate(0deg);
  }
  @include media('<md'){
    right: initial;
    left: -50px;
    bottom: 10px;

    &.active {
      right: initial;
      left: 10px;
    }
  }
}
