#header {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 99;
  padding: 40px 15px 80px 15px;
  img{
    max-width: 200px;
  }
  @include media('<md'){
    padding: 40px 15px;
  }
  @include media('<sm'){
    img{
      max-width: 100px;
    }
  }
}
.right{
  padding: 50px 0;
  margin-right: 10px;
  height:100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .filter-home-wrapper{
    position: relative;
    font-size: 2em;
    margin-top: 35px;
    padding: 20px;
    display: flex;
    border: 2px solid #181d18;
    flex-direction: column;
    justify-content: flex-end;
    a{
      pointer-events: none;
      color: #181d18;
      transition: .2s ease-out;
      width: 100%;
      text-align: right;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -75px;
        width: 50px;
        height: 2px;
        background: #19181d;
        transition: .2s ease-out;
        transform: translateX(-15px);
        opacity: 0;
      }
    }
    span{
      top: -55px;
      height: 50px;
      text-align: right;
      right: 0;
      position: absolute;
      font-weight: bolder;
      white-space: nowrap;
      transform-origin: 100% 50%;
      color: #19181d;
    }
    ul{
      list-style-type: none;
      padding: 0;
    }
    li{
      cursor: pointer;
      padding: 15px 0;
      text-align: right;
      white-space: nowrap;
      &:hover, &.selected{
        a{
          &:before{
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
    @include media('<=lg'){
      max-width: 100%;
      flex-basis: 100%;
      &:after{
        display: none;
      }
    }
  }
  .social-home-wrapper{
    width: 24px;
    display: flex;
    margin-left: 75px;
    position: fixed;
    flex-direction: column;
    color: white;
    img{
      width: 24px;
      height: 24px;
    }
    a{
      margin-bottom: 15px;
      font-size: 1.5625em;
      color: white;
      transition: .2s ease-out;
    }
    @include media('<=lg'){
      padding-left: 0;
      span{
        display: none;
      }
    }

    @include media('<=md') {
      position: relative;
    }
  }
  @include media('<=lg'){
    width: 100%;
    justify-content: flex-end;
    margin: 0;
  }

  @include media('<md') {
    padding: 25px 0;

    .filter-home-wrapper {
      font-size: 1.5em;

      li {
        padding: 5px 0;
      }
    }

    .social-home-wrapper {
      margin-left: 0;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      a {
        margin: 15px;
      }
    }
  }
}
